<div class="row-fluid">

    <form class="form-horizontal span12">

        <fieldset>

            <legend>Match Details</legend>
            <br/>

            <div class="row">
                <div class="span8">

                <!--    <div class="control-group">
                        <label for="matchId" class="control-label">Id:</label>

                        <div class="controls">
                            <input id="matchId" name="id" type="text" value="<%= _id === null ? '' : _id %>"
                                   disabled/>
                        </div>
                    </div>-->
                    
                    <div class="control-group">
                        <label for="name" class="control-label">Name:</label>

                        <div class="controls">
                            <input type="text" id="name" name="name" value="<%= name %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="grapes" class="control-label">Date:</label>

                        <div class="controls">
                            <input type="text" id="date" name="date" value="<%= date %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                     <div class="control-group">
                        <label for="grapes" class="control-label">Time:</label>

                        <div class="controls">
                            <input type="text" id="time" name="time" value="<%= time %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="region" class="control-label">Local:</label>

                        <div class="controls">
                            <input type="text" id="local" name="local" value="<%= local %>"/>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label for="region" class="control-label">Match Pitch:</label>

                        <div class="controls">
                            <input type="text" id="localDetail" name="localDetail" value="<%= localDetail %>"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="region" class="control-label">Max Number Players:</label>

                        <div class="controls">
                            <input type="text" id="maxPlayerNumber" name="maxPlayerNumber" value="<%= maxPlayerNumber %>"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="region" class="control-label">Price per person:</label>

                        <div class="controls">
                            <input type="text" id="pricePerPerson" name="pricePerPerson" value="<%= pricePerPerson %>"/>
                        </div>
                    </div>
                    

                    <div class="control-group" style="display: none;">
                        <label for="region" class="control-label">owner:</label>

                        <div class="controls">
                            <input type="text" id="owner" name="owner" value="<%= owner %>"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="description" class="control-label">Description:</label>

                        <div class="controls">
                            <textarea id="description" name="description" style="width: 90%;" rows="6"><%= description
                                %></textarea>
                        </div>
                    </div>
                    
                     <div class="control-group">
                        <label for="Jogadores" class="control-label">Players:</label>
                     
                        <div class="controls">
                            <div id="playerslist" class="control-group">
                            </div>
                        </div>
                    </div>

                </div>

                
                
                <div class="span4">
                    
                </div>

            </div>

        </fieldset>

        <div id="match-buttons" class="form-actions">
        </div>

    </form>
    

</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Match saved successfully
        </div>
    </div>
</div>